<div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
        <li class="active">
            <a class="" href="index.html">
                <i class="icon-dashboard"></i>
                <span>صفحه اصلی</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="">
                <i class="icon-book"></i>
                <span>عملیات مجاز</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="general.html"><i class="icon-th bg-white"></i>&nbsp; دسته بندی ها</a></li>
                <li><a class="" href="buttons.html">خبرها</a></li>
                <li><a class="" href="widget.html">کاربران</a></li>
            </ul>
        </li>
    </ul>
    <!-- sidebar menu end-->
</div>